body {
	font-family: 'Cute Font', cursive;
}

.navbar-brand {
	font-size: 50px;
}

.card {
	border: 2px solid black;
	border-radius: 12px;
	width: 350px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 12px;
	background-color: #eff; 
}

.card-title {
	border-bottom: 1px solid black;
	padding: 4px 0 4px 0;
	height: auto;
}

.card-text {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
	padding: 0;
	color: red;
}

.card-img-top {
	border: 2px solid black;
	border-radius: 12px;
}

a {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 30px;
}

.btn {
	font-size: 30px;
}